body {
  @include box-sizing(border-box);
}

.footer {
  margin-top: 20px;
  margin-bottom: 50px;
  h3 {
    a {
      text-decoration: none;
      color: #111111;
      border-bottom: 1px solid #cdcdcd;
    }
    a:hover {
      text-decoration: none;
      color: #39b54a;
      border-bottom: 1px solid #39b54a;
    }
  }
}
