@media only screen and (max-width: 500px) {

  div.story-text {
    h1 {
      font-size: 1em;
    }
    h6 {
      font-size: 0.3em;
      i.span-sm {
        display: none;
      }
    }
    p {
      font-size: 0.75em;
      span.span-sm {
        display: none;
      }
    }
  }

}

@media only screen and (min-width: 868px) {

  .hamburger-menu, .hide {
    display: none;
  }

  .menu-list {
    display: block;
    @include list-items(inline);
  }

  .nav-top {
    padding-top: 22px;
    padding-left: 20px;
  }

  .container-main {
    width: 100%;
    padding: 3%;
  }

  .main {
    @include span-columns(12);
  }

  .story {
    @include span-columns(6 of 12);
  }

}

@media only screen and (min-width: 1048px) {

  .hamburger-menu {
    display: none;
  }

  .hide {
    display: inline;
  }

  .menu-list {
    display: block;
    @include list-items(inline);
  }

  .nav-top {
    padding-top: 22px;
    padding-left: 20px;
  }

  .container-main-side-nav {
    width: 80vw;
    margin: 0 auto;
    padding: 3%;
    @include span-columns(12);
  }

  .container-main {
    @include span-columns(9 of 12);
    padding: 25px 0.1em 0.1em 0.1em;
    float: left;
  }

  .main {
    @include span-columns(12);
    padding: 0;
  }

  .story {
    @include span-columns(12 of 12);
    margin: 0 0 25px 0;
    padding: 0 1em;
    &-text {
      padding: 1em 0;
    }
  }

  .container-side-nav {
    @include span-columns(3 of 12);
    float: left;
    padding: 25px 0.1em 0.1em 0.1em;
  }

  .side-nav {
    background-color: $color-primary;
    color: black;
    padding: 1em;
  }

  .side-nav-past-posts {
    p {
      margin-bottom: 5px;
      &.side-nav-year {
        margin-top: 25px;
      }
      a {
        font-weight: normal;
        text-decoration: none;
        color: $color-fourth;
        &:hover {
          color: $color-fifth;
        }
      }
    }
  }

  .side-nav-month {
    margin-left: 1em;
  }

}

@media only screen and (min-width: 1200px) {

  .nav-top, .container-main-side-nav {
    width: 1200px;
  }

}
