@media only screen and (max-width: 500px) {

}

@media only screen and (min-width: 768px) {
  
  .hamburger-menu {
    display: none;
  }

}

@media only screen and (min-width: 1048px) {

}

@media only screen and (min-width: 1250px) {

  .container-main {
    width: 1250px;
  }

  .main {
    @include span-columns(12);
  }

  .work {
    @include span-columns(3 of 12);
    img {
      width: 100%;
    }
  }

}
