$color-primary: #2e2e2e;
$color-secondary: #1ea076;
$color-third: #d3d3d3;
$color-fourth: white;
$color-fifth: cyan;

$colors: (
  primary: $color-primary,
  secondary: $color-secondary,
  third: $color-third,
  fourth: $color-fourth,
  fifth: $color-fifth
);
