body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #fcfcfc;
}

img {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: lighter;
  margin-top: 3px;
  color: #404040;
  letter-spacing: 0.06em;
}

p {

}

a {

}
